<div class="row">
  <div class="col col-md-3">
    <% User.all.each do |user| %>
      <h2><a href="/users/<%= user.id %>"><%= user.username %></a></h2>
      <h4><%= user.email %></h4>
      <% if User.find(@session[:user_id]).is_admin %>
        <div class="row">
          <% if !user.is_admin %>
            <form method="post" action="/users/<%= user.id %>/delete">
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            <form method="post" action="users/<%= user.id %>/admin">
              <button class="btn btn-primary" type="submit">Make Admin</button>
            </form>
          <% end %>
        </div>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
